:root {
  --cor-1: #fff;
  --cor-2: #f1f1f1;
  --cor-3: #8E8E8E;
  --cor-4: #4f4adc;
  --cor-5: #2b2876;
  --cor-6: #058a00;
  --cor-7: #d80505;
  --cor-8: #F47922;
  --cor-9: #484848;
  --cor-10: #d1d1d1;
  --cor-11: #9CB8F6;
  --cor-14: #F5F4F8;
  --cor-15: #DEDEDE;
  --cor-16: #AEAEAE;
  --cor-17: #626262;
  --cor-19: #000000;
  --cor-20: #D9D9D9;
  --cor-21: #323232;
  --cor-22: #DADADA;
  --cor-23: #D7141B;
  --cor-24: #3C3C3C;
  --cor-25: #C52127;
  --cor-26: #606060;
  --cor-27: #BDE6FF;
  --cor-28: #F4F6FF;
  --cor-29: #1B69DC;
  --cor-39: #26C012;
  --cor-44: #1551A9;
  --cor-45: #170C58;
  --cor-47: #d84f00;
  --background-image-url: url('https://img1.picmix.com/output/stamp/normal/5/9/6/8/648695_03eca.gif');
}
